{
    "YM": {
        "artists": [
            "artist_name1,artist_name2, artist_name3"
            ],
        "albums": [{
            "title": "album_title",
            "artist": "artist_name",
            "tracks": []
            }],
        "playlists": {"title": [
            ["artist_name", "track"],
            ["artist_name", "track"]
        ]},
        "alltracks": [[
            "artist", "track_title"
        ]]
    },
    "SP": {
        "artists": [
            "artist_name1,artist_name2, artist_name3"
            ],
        "albums": [{
            "title": "album_title",
            "artist": "artist_name",
            "tracks": []
            }],
        "playlists": {"title": [
            ["artist_name", "track"],
            ["artist_name", "track"]
        ]},
        "alltracks": [[
            "artist", "track_title"
        ]]
    },
    "VK": {
        "artists": [
            "artist_name1,artist_name2, artist_name3"
            ],
        "albums": [{
            "title": "album_title",
            "artist": "artist_name",
            "tracks": []
            }],
        "playlists": [{"title": [
            ["artist_name", "track"],
            ["artist_name", "track"]
        ]}],
        "alltracks": [
            ["artist_name", "track_title"],
            ["artist_name", "track_title"]
        ]
    }
}