"""
    Default parameters
    Configure parameters for preferred result.
"""


class Default(object):
    # Auth VK
    VK_LOGIN = "REPLACE_ME"      # your vk login
    VK_PASSWORD = "REPLACE_ME"   # your vk password
    api_config_path = 'MoveMyMusic/vk-config'     # path to where session cookies are gonna be stored    !!!make sure to keep this information safe!!!


    # I/O
    VK_PATH = 'MoveMyMusic/'

    # Auth YANDEX MUSIC
    YM_LOGIN = "REPLACE_ME"
    YM_PASSWORD = "REPLACE_ME"
    YM_TOKEN = ''

    # Spotify API
    SP_CLIENT_ID = "REPLACE_ME"
    SP_CLIENT_SECRET = "REPLACE_ME"
    SP_USERNAME = "REPLACE_ME"

        # GENERAL
    PLAYLIST = False     # by default gets tracks, set to True if album wanted
    PLAYLIST_L = []     # select which albums e.g ['my playlist1', 'my playlist2'], default None(all)
    ARTISTS = True
    ALBUMS = True
    ALLTRACKS = True
    DATATMP = 'MoveMyMusic/dataTemplate.json'
    LOG_PATH = 'MoveMyMusic/logs'
    CLEAN_PLATE = False
