"""
    Default parameters
    Configure parameters for preferred result.
"""


class Default(object):

    # Account credentials
    VK_LOGIN = "REPLACE_ME"
    VK_PASSWORD = "REPLACE_ME"
    YM_LOGIN = "REPLACE_ME"
    YM_PASSWORD = "REPLACE_ME"
    SP_USERNAME = "REPLACE_ME"

    # App config
    PLAYLIST = False
    PLAYLIST_L = []     # select which albums e.g ['my playlist1', 'my playlist2']
    ARTISTS = False
    ALBUMS = False
    ALLTRACKS = False
    CLEAN_PLATE = False

    # I/O
    VK_PATH = './'
    api_config_path = './vk-config'
    DATATMP = './dataTemplate.json'
    LOG_PATH = './logs'

    # Spotify API
    SP_CLIENT_ID = "REPLACE_ME"
    SP_CLIENT_SECRET = "REPLACE_ME"
